<div class="col-md-6">
  <h2> Detalles de Contacto</h2>
 <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nombre</th>
      <th>Primer apellido</th>
      <th>Segundo apellido</th>
      <th>DNI</th>
      <th>Fecha de nacimiento</th>
      <th>Direción</th>
      <th>Teléfonos</th>
      <th>Acciones</th>
      
    </tr>
    </thead>
    <tbody>
      <td class="hidden">{{persona.idpersona}}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido1}}</td>
      <td>{{persona.apellido2}}</td>
      <td>{{persona.dni}}</td>
      <td>{{persona.fechanacimiento}}</td>
      <td>{{persona.direccions}}</td>
      <td>{{persona.telefonos}}</td>
      
      <td><button class="btn btn-danger" style="color:rgb(255, 238, 0)" (click)="deletePersona(persona)">Borrar Persona</button></td>
      
      
    </tbody>
  </table>
  </div>
